In [1]:
import subprocess
import os
import numpy as np
import pandas as pd

import matplotlib

from datetime import datetime

from sklearn import linear_model

from scipy import signal


pd.set_option('display.max_rows', 500)

![CRSIP_DM](..\reports\figures\CRISP_DM.png)

# Data Preparation

* focus on understanding the final data structure
* support each step by visual analytics

## John Hopkins github CSV data

In [2]:
git_pull = subprocess.Popen( "git pull" , 
                     cwd = os.path.dirname( '../data/raw/COVID-19/' ), 
                     shell = True, 
                     stdout = subprocess.PIPE, 
                     stderr = subprocess.PIPE )
(out, error) = git_pull.communicate()


print("Error : " + str(error)) 
print("out : " + str(out))

Error : b'From https://github.com/CSSEGISandData/COVID-19\n   a10636a9..4c8006b0  master               -> origin/master\n * [new branch]        patch-08-18-us-daily -> origin/patch-08-18-us-daily\n   6854f5ab..ff9f793b  web-data             -> origin/web-data\n'
out : b'Updating a10636a9..4c8006b0\nFast-forward\n README.md                                          |    7 +\n csse_covid_19_data/README.md                       |   28 +-\n csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv   |    2 +-\n .../csse_covid_19_daily_reports/08-18-2020.csv     | 7896 ++++++++++----------\n .../csse_covid_19_daily_reports/08-24-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-25-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-26-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-27-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-28-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-29-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-30-2020.csv     | 3951 ++++++++++\n .../csse_covid_19_daily_reports/08-31-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-01-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-02-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-03-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-04-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-05-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-06-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-07-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-08-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-09-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-10-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports/09-11-2020.csv     | 3955 ++++++++++\n .../csse_covid_19_daily_reports_us/08-18-2020.csv  |  118 +-\n .../csse_covid_19_daily_reports_us/08-24-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-25-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-26-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-27-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-28-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-29-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-30-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/08-31-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-01-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-02-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-03-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-04-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-05-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-06-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-07-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-08-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-09-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-10-2020.csv  |   59 +\n .../csse_covid_19_daily_reports_us/09-11-2020.csv  |   59 +\n .../csse_covid_19_time_series/Errata.csv           |   28 +\n .../time_series_covid19_confirmed_US.csv           | 6682 ++++++++---------\n .../time_series_covid19_confirmed_global.csv       |  534 +-\n .../time_series_covid19_deaths_US.csv              | 6682 ++++++++---------\n .../time_series_covid19_deaths_global.csv          |  534 +-\n .../time_series_covid19_recovered_global.csv       |  508 +-\n 49 files changed, 87771 insertions(+), 11486 deletions(-)\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-24-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-25-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-26-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-27-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-28-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-29-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-30-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/08-31-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-01-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-02-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-03-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-04-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-05-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-06-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-07-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-08-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-09-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-10-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports/09-11-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-24-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-25-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-26-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-27-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-28-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-29-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-30-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/08-31-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-01-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-02-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-03-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-04-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-05-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-06-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-07-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-08-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-09-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-10-2020.csv\n create mode 100644 csse_covid_19_data/csse_covid_19_daily_reports_us/09-11-2020.csv\n'

In [3]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)

In [4]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38243,38288,38304,38324,38398,38494,38520,38544,38572,38606
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,9728,9844,9967,10102,10255,10406,10553,10704,10860,11021
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,45158,45469,45773,46071,46364,46653,46938,47216,47488,47752
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1199,1199,1215,1215,1215,1261,1261,1301,1301,1344
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2777,2805,2876,2935,2965,2981,3033,3092,3217,3279

In [5]:
time_index = pd_raw.columns[4:]

In [6]:
df_plot = pd.DataFrame({
    'date': time_index
})
df_plot.head()

      date
0  1/22/20
1  1/23/20
2  1/24/20
3  1/25/20
4  1/26/20

In [7]:
type(df_plot['date'][0])

str

In [8]:
country_set = pd_raw['Country/Region'].unique()

In [9]:
limited_country_list = ['Italy', 'Korea, South', 'Germany', 'Spain', 'US']

In [10]:
for country in limited_country_list:
    df_plot[country] = np.array(pd_raw[pd_raw['Country/Region'] == country].iloc[:, 4::].sum(axis=0))

In [11]:
df_plot.head()

      date  Italy  Korea, South  Germany  Spain  US
0  1/22/20      0             1        0      0   1
1  1/23/20      0             1        0      0   1
2  1/24/20      0             2        0      0   2
3  1/25/20      0             2        0      0   2
4  1/26/20      0             3        0      0   5

In [12]:
df_plot.set_index('date').plot()

## Data Type Date

In [13]:
time_index= [datetime.strptime(each, '%m/%d/%y') for each in df_plot.date]
time_string_iso = [each.strftime('%Y-%m-%d') for each in time_index]

In [14]:
df_plot['date'] = time_index

In [15]:
df_plot.head()

        date  Italy  Korea, South  Germany  Spain  US
0 2020-01-22      0             1        0      0   1
1 2020-01-23      0             1        0      0   1
2 2020-01-24      0             2        0      0   2
3 2020-01-25      0             2        0      0   2
4 2020-01-26      0             3        0      0   5

In [16]:

df_plot.to_csv('../data/processed/COVID_small_flat_table_July 29_.csv', sep = ';', index=False)

  ##  Relational data model

In [17]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)


pd_db = pd_raw.rename(columns= {
    'Country/Region': 'country',
    'Province/State': 'state'
}).drop(['Lat', 'Long'], axis=1)
pd_db  = pd_db.fillna('no')
pd_db.head()

,state,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20
0,no,Afghanistan,0,0,0,0,0,0,0,0,...,38243,38288,38304,38324,38398,38494,38520,38544,38572,38606
1,no,Albania,0,0,0,0,0,0,0,0,...,9728,9844,9967,10102,10255,10406,10553,10704,10860,11021
2,no,Algeria,0,0,0,0,0,0,0,0,...,45158,45469,45773,46071,46364,46653,46938,47216,47488,47752
3,no,Andorra,0,0,0,0,0,0,0,0,...,1199,1199,1215,1215,1215,1261,1261,1301,1301,1344
4,no,Angola,0,0,0,0,0,0,0,0,...,2777,2805,2876,2935,2965,2981,3033,3092,3217,3279

In [18]:
pd_db.set_index(['state', 'country'])

                                                                   1/22/20  \
state                            country
no                               Afghanistan                             0
                                 Albania                                 0
                                 Algeria                                 0
                                 Andorra                                 0
                                 Angola                                  0
                                 Antigua and Barbuda                     0
                                 Argentina                               0
                                 Armenia                                 0
Australian Capital Territory     Australia                               0
New South Wales                  Australia                               0
Northern Territory               Australia                               0
Queensland                       Australia                               0
South Australia                  Australia                               0
Tasmania                         Australia                               0
Victoria                         Australia                               0
Western Australia                Australia                               0
no                               Austria                                 0
                                 Azerbaijan                              0
                                 Bahamas                                 0
                                 Bahrain                                 0
                                 Bangladesh                              0
                                 Barbados                                0
                                 Belarus                                 0
                                 Belgium                                 0
                                 Belize                                  0
                                 Benin                                   0
                                 Bhutan                                  0
                                 Bolivia                                 0
                                 Bosnia and Herzegovina                  0
                                 Botswana                                0
                                 Brazil                                  0
                                 Brunei                                  0
                                 Bulgaria                                0
                                 Burkina Faso                            0
                                 Burma                                   0
                                 Burundi                                 0
                                 Cabo Verde                              0
                                 Cambodia                                0
                                 Cameroon                                0
Alberta                          Canada                                  0
British Columbia                 Canada                                  0
Diamond Princess                 Canada                                  0
Grand Princess                   Canada                                  0
Manitoba                         Canada                                  0
New Brunswick                    Canada                                  0
Newfoundland and Labrador        Canada                                  0
Northwest Territories            Canada                                  0
Nova Scotia                      Canada                                  0
Ontario                          Canada                                  0
Prince Edward Island             Canada                                  0
Quebec                           Canada                                  0
Saskatchewan                     Canada                                  0
Yukon                            Canada                                  0
no                               Central African Republic                0
                                 Chad                                    0
                                 Chile                                   0
Anhui                            China                                   1
Beijing                          China                                  14
Chongqing                        China                                   6
Fujian                           China                                   1
Gansu                            China                                   0
Guangdong                        China                                  26
Guangxi                          China                                   2
Guizhou                          China                                   1
Hainan                           China                                   4
Hebei                            China                                   1
Heilongjiang                     China                                   0
Henan                            China                                   5
Hong Kong                        China                                   0
Hubei                            China                                 444
Hunan                            China                                   4
Inner Mongolia                   China                                   0
Jiangsu                          China                                   1
Jiangxi                          China                                   2
Jilin                            China                                   0
Liaoning                         China                                   2
Macau                            China                                   1
Ningxia                          China                                   1
Qinghai                          China                                   0
Shaanxi                          China                                   0
Shandong                         China                                   2
Shanghai                         China                                   9
Shanxi                           China                                   1
Sichuan                          China                                   5
Tianjin                          China                                   4
Tibet                            China                                   0
Xinjiang                         China                                   0
Yunnan                           China                                   1
Zhejiang                         China                                  10
no                               Colombia                                0
                                 Comoros                                 0
                                 Congo (Brazzaville)                     0
                                 Congo (Kinshasa)                        0
                                 Costa Rica                              0
                                 Cote d'Ivoire                           0
                                 Croatia                                 0
                                 Cuba                                    0
                                 Cyprus                                  0
                                 Czechia                                 0
Faroe Islands                    Denmark                                 0
Greenland                        Denmark                                 0
no                               Denmark                                 0
                                 Diamond Princess                        0
                                 Djibouti                                0
                                 Dominica                                0
                                 Dominican Republic                      0
                                 Ecuador                                 0
                                 Egypt                                   0
                                 El Salvador                             0
                                 Equatorial Guinea                       0
                                 Eritrea                                 0
                                 Estonia                                 0
                                 Eswatini                                0
                                 Ethiopia                                0
                                 Fiji                                    0
                                 Finland                                 0
French Guiana                    France                                  0
French Polynesia                 France                                  0
Guadeloupe                       France                                  0
Martinique                       France                                  0
Mayotte                          France                                  0
New Caledonia                    France                                  0
Reunion                          France                                  0
Saint Barthelemy                 France                                  0
Saint Pierre and Miquelon        France                                  0
St Martin                        France                                  0
no                               France                                  0
                                 Gabon                                   0
                                 Gambia                                  0
                                 Georgia                                 0
                                 Germany                                 0
                                 Ghana                                   0
                                 Greece                                  0
                                 Grenada                                 0
                                 Guatemala                               0
                                 Guinea                                  0
                                 Guinea-Bissau                           0
                                 Guyana                                  0
                                 Haiti                                   0
                                 Holy See                                0
                                 Honduras                                0
                                 Hungary                                 0
                                 Iceland                                 0
                                 India                                   0
                                 Indonesia                               0
                                 Iran                                    0
                                 Iraq                                    0
                                 Ireland                                 0
                                 Israel                                  0
                                 Italy                                   0
                                 Jamaica                                 0
                                 Japan                                   2
                                 Jordan                                  0
                                 Kazakhstan                              0
                                 Kenya                                   0
                                 Korea, South                            1
                                 Kosovo                                  0
                                 Kuwait                                  0
                                 Kyrgyzstan                              0
                                 Laos                                    0
                                 Latvia                                  0
                                 Lebanon                                 0
                                 Lesotho                                 0
                                 Liberia                                 0
                                 Libya                                   0
                                 Liechtenstein                           0
                                 Lithuania                               0
                                 Luxembourg                              0
                                 MS Zaandam                              0
                                 Madagascar                              0
                                 Malawi                                  0
                                 Malaysia                                0
                                 Maldives                                0
                                 Mali                                    0
                                 Malta                                   0
                                 Mauritania                              0
                                 Mauritius                               0
                                 Mexico                                  0
                                 Moldova                                 0
                                 Monaco                                  0
                                 Mongolia                                0
                                 Montenegro                              0
                                 Morocco                                 0
                                 Mozambique                              0
                                 Namibia                                 0
                                 Nepal                                   0
Aruba                            Netherlands                             0
Bonaire, Sint Eustatius and Saba Netherlands                             0
Curacao                          Netherlands                             0
Sint Maarten                     Netherlands                             0
no                               Netherlands                             0
                                 New Zealand                             0
                                 Nicaragua                               0
                                 Niger                                   0
                                 Nigeria                                 0
                                 North Macedonia                         0
                                 Norway                                  0
                                 Oman                                    0
                                 Pakistan                                0
                                 Panama                                  0
                                 Papua New Guinea                        0
                                 Paraguay                                0
                                 Peru                                    0
                                 Philippines                             0
                                 Poland                                  0
                                 Portugal                                0
                                 Qatar                                   0
                                 Romania                                 0
                                 Russia                                  0
                                 Rwanda                                  0
                                 Saint Kitts and Nevis                   0
                                 Saint Lucia                             0
                                 Saint Vincent and the Grenadines        0
                                 San Marino                              0
                                 Sao Tome and Principe                   0
                                 Saudi Arabia                            0
                                 Senegal                                 0
                                 Serbia                                  0
                                 Seychelles                              0
                                 Sierra Leone                            0
                                 Singapore                               0
                                 Slovakia                                0
                                 Slovenia                                0
                                 Somalia                                 0
                                 South Africa                            0
                                 South Sudan                             0
                                 Spain                                   0
                                 Sri Lanka                               0
                                 Sudan                                   0
                                 Suriname                                0
                                 Sweden                                  0
                                 Switzerland                             0
                                 Syria                                   0
                                 Taiwan*                                 1
                                 Tajikistan                              0
                                 Tanzania                                0
                                 Thailand                                2
                                 Timor-Leste                             0
                                 Togo                                    0
                                 Trinidad and Tobago                     0
                                 Tunisia                                 0
                                 Turkey                                  0
                                 US                                      1
                                 Uganda                                  0
                                 Ukraine                                 0
                                 United Arab Emirates                    0
Anguilla                         United Kingdom                          0
Bermuda                          United Kingdom                          0
British Virgin Islands           United Kingdom                          0
Cayman Islands                   United Kingdom                          0
Channel Islands                  United Kingdom                          0
Falkland Islands (Malvinas)      United Kingdom                          0
Gibraltar                        United Kingdom                          0
Isle of Man                      United Kingdom                          0
Montserrat                       United Kingdom                          0
Turks and Caicos Islands         United Kingdom                          0
no                               United Kingdom                          0
                                 Uruguay                                 0
                                 Uzbekistan                              0
                                 Venezuela                               0
                                 Vietnam                                 0
                                 West Bank and Gaza                      0
                                 Western Sahara                          0
                                 Yemen                                   0
                                 Zambia                                  0

In [19]:
test_pd = pd_db.set_index(['state', 'country']).T

In [20]:
for each in test_pd.columns:
    print(each)

('no', 'Afghanistan')
('no', 'Albania')
('no', 'Algeria')
('no', 'Andorra')
('no', 'Angola')
('no', 'Antigua and Barbuda')
('no', 'Argentina')
('no', 'Armenia')
('Australian Capital Territory', 'Australia')
('New South Wales', 'Australia')
('Northern Territory', 'Australia')
('Queensland', 'Australia')
('South Australia', 'Australia')
('Tasmania', 'Australia')
('Victoria', 'Australia')
('Western Australia', 'Australia')
('no', 'Austria')
('no', 'Azerbaijan')
('no', 'Bahamas')
('no', 'Bahrain')
('no', 'Bangladesh')
('no', 'Barbados')
('no', 'Belarus')
('no', 'Belgium')
('no', 'Belize')
('no', 'Benin')
('no', 'Bhutan')
('no', 'Bolivia')
('no', 'Bosnia and Herzegovina')
('no', 'Botswana')
('no', 'Brazil')
('no', 'Brunei')
('no', 'Bulgaria')
('no', 'Burkina Faso')
('no', 'Burma')
('no', 'Burundi')
('no', 'Cabo Verde')
('no', 'Cambodia')
('no', 'Cameroon')
('Alberta', 'Canada')
('British Columbia', 'Canada')
('Diamond Princess', 'Canada')
('Grand Princess', 'Canada')
('Manitoba', 'Canada')
('New Brunswick', 'Canada')
('Newfoundland and Labrador', 'Canada')
('Northwest Territories', 'Canada')
('Nova Scotia', 'Canada')
('Ontario', 'Canada')
('Prince Edward Island', 'Canada')
('Quebec', 'Canada')
('Saskatchewan', 'Canada')
('Yukon', 'Canada')
('no', 'Central African Republic')
('no', 'Chad')
('no', 'Chile')
('Anhui', 'China')
('Beijing', 'China')
('Chongqing', 'China')
('Fujian', 'China')
('Gansu', 'China')
('Guangdong', 'China')
('Guangxi', 'China')
('Guizhou', 'China')
('Hainan', 'China')
('Hebei', 'China')
('Heilongjiang', 'China')
('Henan', 'China')
('Hong Kong', 'China')
('Hubei', 'China')
('Hunan', 'China')
('Inner Mongolia', 'China')
('Jiangsu', 'China')
('Jiangxi', 'China')
('Jilin', 'China')
('Liaoning', 'China')
('Macau', 'China')
('Ningxia', 'China')
('Qinghai', 'China')
('Shaanxi', 'China')
('Shandong', 'China')
('Shanghai', 'China')
('Shanxi', 'China')
('Sichuan', 'China')
('Tianjin', 'China')
('Tibet', 'China')
('Xinjiang', 'China')
('Yunnan', 'China')
('Zhejiang', 'China')
('no', 'Colombia')
('no', 'Comoros')
('no', 'Congo (Brazzaville)')
('no', 'Congo (Kinshasa)')
('no', 'Costa Rica')
('no', "Cote d'Ivoire")
('no', 'Croatia')
('no', 'Cuba')
('no', 'Cyprus')
('no', 'Czechia')
('Faroe Islands', 'Denmark')
('Greenland', 'Denmark')
('no', 'Denmark')
('no', 'Diamond Princess')
('no', 'Djibouti')
('no', 'Dominica')
('no', 'Dominican Republic')
('no', 'Ecuador')
('no', 'Egypt')
('no', 'El Salvador')
('no', 'Equatorial Guinea')
('no', 'Eritrea')
('no', 'Estonia')
('no', 'Eswatini')
('no', 'Ethiopia')
('no', 'Fiji')
('no', 'Finland')
('French Guiana', 'France')
('French Polynesia', 'France')
('Guadeloupe', 'France')
('Martinique', 'France')
('Mayotte', 'France')
('New Caledonia', 'France')
('Reunion', 'France')
('Saint Barthelemy', 'France')
('Saint Pierre and Miquelon', 'France')
('St Martin', 'France')
('no', 'France')
('no', 'Gabon')
('no', 'Gambia')
('no', 'Georgia')
('no', 'Germany')
('no', 'Ghana')
('no', 'Greece')
('no', 'Grenada')
('no', 'Guatemala')
('no', 'Guinea')
('no', 'Guinea-Bissau')
('no', 'Guyana')
('no', 'Haiti')
('no', 'Holy See')
('no', 'Honduras')
('no', 'Hungary')
('no', 'Iceland')
('no', 'India')
('no', 'Indonesia')
('no', 'Iran')
('no', 'Iraq')
('no', 'Ireland')
('no', 'Israel')
('no', 'Italy')
('no', 'Jamaica')
('no', 'Japan')
('no', 'Jordan')
('no', 'Kazakhstan')
('no', 'Kenya')
('no', 'Korea, South')
('no', 'Kosovo')
('no', 'Kuwait')
('no', 'Kyrgyzstan')
('no', 'Laos')
('no', 'Latvia')
('no', 'Lebanon')
('no', 'Lesotho')
('no', 'Liberia')
('no', 'Libya')
('no', 'Liechtenstein')
('no', 'Lithuania')
('no', 'Luxembourg')
('no', 'MS Zaandam')
('no', 'Madagascar')
('no', 'Malawi')
('no', 'Malaysia')
('no', 'Maldives')
('no', 'Mali')
('no', 'Malta')
('no', 'Mauritania')
('no', 'Mauritius')
('no', 'Mexico')
('no', 'Moldova')
('no', 'Monaco')
('no', 'Mongolia')
('no', 'Montenegro')
('no', 'Morocco')
('no', 'Mozambique')
('no', 'Namibia')
('no', 'Nepal')
('Aruba', 'Netherlands')
('Bonaire, Sint Eustatius and Saba', 'Netherlands')
('Curacao', 'Netherlands')
('Sint Maarten', 'Netherlands')
('no', 'Netherlands')
('no', 'New Zealand')
('no', 'Nicaragua')
('no', 'Niger')
('no', 'Nigeria')
('no', 'North Macedonia')
('no', 'Norway')
('no', 'Oman')
('no', 'Pakistan')
('no', 'Panama')
('no', 'Papua New Guinea')
('no', 'Paraguay')
('no', 'Peru')
('no', 'Philippines')
('no', 'Poland')
('no', 'Portugal')
('no', 'Qatar')
('no', 'Romania')
('no', 'Russia')
('no', 'Rwanda')
('no', 'Saint Kitts and Nevis')
('no', 'Saint Lucia')
('no', 'Saint Vincent and the Grenadines')
('no', 'San Marino')
('no', 'Sao Tome and Principe')
('no', 'Saudi Arabia')
('no', 'Senegal')
('no', 'Serbia')
('no', 'Seychelles')
('no', 'Sierra Leone')
('no', 'Singapore')
('no', 'Slovakia')
('no', 'Slovenia')
('no', 'Somalia')
('no', 'South Africa')
('no', 'South Sudan')
('no', 'Spain')
('no', 'Sri Lanka')
('no', 'Sudan')
('no', 'Suriname')
('no', 'Sweden')
('no', 'Switzerland')
('no', 'Syria')
('no', 'Taiwan*')
('no', 'Tajikistan')
('no', 'Tanzania')
('no', 'Thailand')
('no', 'Timor-Leste')
('no', 'Togo')
('no', 'Trinidad and Tobago')
('no', 'Tunisia')
('no', 'Turkey')
('no', 'US')
('no', 'Uganda')
('no', 'Ukraine')
('no', 'United Arab Emirates')
('Anguilla', 'United Kingdom')
('Bermuda', 'United Kingdom')
('British Virgin Islands', 'United Kingdom')
('Cayman Islands', 'United Kingdom')
('Channel Islands', 'United Kingdom')
('Falkland Islands (Malvinas)', 'United Kingdom')
('Gibraltar', 'United Kingdom')
('Isle of Man', 'United Kingdom')
('Montserrat', 'United Kingdom')
('Turks and Caicos Islands', 'United Kingdom')
('no', 'United Kingdom')
('no', 'Uruguay')
('no', 'Uzbekistan')
('no', 'Venezuela')
('no', 'Vietnam')
('no', 'West Bank and Gaza')
('no', 'Western Sahara')
('no', 'Yemen')
('no', 'Zambia')
('no', 'Zimbabwe')

In [21]:
test_pd.stack(level =[0,1]).reset_index()

       level_0                         state             country        0
0      1/22/20                       Alberta              Canada      0.0
1      1/22/20                      Anguilla      United Kingdom      0.0
2      1/22/20                         Anhui               China      1.0
3      1/22/20                         Aruba         Netherlands      0.0
4      1/22/20  Australian Capital Territory           Australia      0.0
...        ...                           ...                 ...      ...
62239  9/11/20                            no  West Bank and Gaza  29256.0
62240  9/11/20                            no      Western Sahara     10.0
62241  9/11/20                            no               Yemen   2007.0
62242  9/11/20                            no              Zambia  13323.0
62243  9/11/20                            no            Zimbabwe   7479.0

[62244 rows x 4 columns]

In [22]:
pd_relational_model = pd_db.set_index(['state', 'country']).T.stack(level =[0,1]).reset_index()

pd_relational_model = pd_relational_model.rename(columns ={
    'level_0' : 'date',
    0: 'confirmed'
})

pd_relational_model['date'] = pd.to_datetime(pd_relational_model['date'], format="%m/%d/%y")

In [23]:
pd_relational_model.dtypes

date         datetime64[ns]
state                object
country              object
confirmed           float64
dtype: object

In [24]:
pd_relational_model.to_csv('../data/processed/COVID_relational_confirmed.csv', sep = ';', index=False)

## Group-by apply

In [25]:
pd_JH_data = pd.read_csv('../data/processed/COVID_relational_confirmed.csv', sep = ';', parse_dates = [0])
pd_JH_data = pd_JH_data.sort_values('date').reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [26]:
pd_JH_data[pd_JH_data['country'] == 'Germany']

            date state  country  confirmed
43    2020-01-22    no  Germany        0.0
308   2020-01-23    no  Germany        0.0
575   2020-01-24    no  Germany        0.0
841   2020-01-25    no  Germany        0.0
1107  2020-01-26    no  Germany        0.0
1373  2020-01-27    no  Germany        1.0
1638  2020-01-28    no  Germany        4.0
1905  2020-01-29    no  Germany        4.0
2170  2020-01-30    no  Germany        4.0
2437  2020-01-31    no  Germany        5.0
2703  2020-02-01    no  Germany        8.0
2969  2020-02-02    no  Germany       10.0
3235  2020-02-03    no  Germany       12.0
3501  2020-02-04    no  Germany       12.0
3767  2020-02-05    no  Germany       12.0
4032  2020-02-06    no  Germany       12.0
4299  2020-02-07    no  Germany       13.0
4565  2020-02-08    no  Germany       13.0
4831  2020-02-09    no  Germany       14.0
5097  2020-02-10    no  Germany       14.0
5363  2020-02-11    no  Germany       16.0
5629  2020-02-12    no  Germany       16.0
5895  2020-02-13    no  Germany       16.0
6160  2020-02-14    no  Germany       16.0
6427  2020-02-15    no  Germany       16.0
6693  2020-02-16    no  Germany       16.0
6958  2020-02-17    no  Germany       16.0
7224  2020-02-18    no  Germany       16.0
7491  2020-02-19    no  Germany       16.0
7756  2020-02-20    no  Germany       16.0
8021  2020-02-21    no  Germany       16.0
8289  2020-02-22    no  Germany       16.0
8555  2020-02-23    no  Germany       16.0
8819  2020-02-24    no  Germany       16.0
9086  2020-02-25    no  Germany       17.0
9353  2020-02-26    no  Germany       27.0
9618  2020-02-27    no  Germany       46.0
9884  2020-02-28    no  Germany       48.0
10151 2020-02-29    no  Germany       79.0
10415 2020-03-01    no  Germany      130.0
10682 2020-03-02    no  Germany      159.0
10948 2020-03-03    no  Germany      196.0
11213 2020-03-04    no  Germany      262.0
11481 2020-03-05    no  Germany      482.0
11746 2020-03-06    no  Germany      670.0
12013 2020-03-07    no  Germany      799.0
12278 2020-03-08    no  Germany     1040.0
12544 2020-03-09    no  Germany     1176.0
12810 2020-03-10    no  Germany     1457.0
13076 2020-03-11    no  Germany     1908.0
13343 2020-03-12    no  Germany     2078.0
13608 2020-03-13    no  Germany     3675.0
13874 2020-03-14    no  Germany     4585.0
14141 2020-03-15    no  Germany     5795.0
14407 2020-03-16    no  Germany     7272.0
14673 2020-03-17    no  Germany     9257.0
14939 2020-03-18    no  Germany    12327.0
15204 2020-03-19    no  Germany    15320.0
15471 2020-03-20    no  Germany    19848.0
15737 2020-03-21    no  Germany    22213.0
16002 2020-03-22    no  Germany    24873.0
16269 2020-03-23    no  Germany    29056.0
16535 2020-03-24    no  Germany    32986.0
16800 2020-03-25    no  Germany    37323.0
17067 2020-03-26    no  Germany    43938.0
17332 2020-03-27    no  Germany    50871.0
17599 2020-03-28    no  Germany    57695.0
17865 2020-03-29    no  Germany    62095.0
18129 2020-03-30    no  Germany    66885.0
18396 2020-03-31    no  Germany    71808.0
18662 2020-04-01    no  Germany    77872.0
18927 2020-04-02    no  Germany    84794.0
19195 2020-04-03    no  Germany    91159.0
19460 2020-04-04    no  Germany    96092.0
19727 2020-04-05    no  Germany   100123.0
19992 2020-04-06    no  Germany   103374.0
20259 2020-04-07    no  Germany   107663.0
20524 2020-04-08    no  Germany   113296.0
20790 2020-04-09    no  Germany   118181.0
21057 2020-04-10    no  Germany   122171.0
21324 2020-04-11    no  Germany   124908.0
21589 2020-04-12    no  Germany   127854.0
21854 2020-04-13    no  Germany   130072.0
22120 2020-04-14    no  Germany   131359.0
22386 2020-04-15    no  Germany   134753.0
22653 2020-04-16    no  Germany   137698.0
22917 2020-04-17    no  Germany   141397.0
23186 2020-04-18    no  Germany   143342.0
23451 2020-04-19    no  Germany   145184.0
23715 2020-04-20    no  Germany   147065.0
23982 2020-04-21    no  Germany   148291.0
24248 2020-04-22    no  Germany   150648.0
24513 2020-04-23    no  Germany   153129.0
24781 2020-04-24    no  Germany   154999.0
25046 2020-04-25    no  Germany   156513.0
25312 2020-04-26    no  Germany   157770.0
25579 2020-04-27    no  Germany   158758.0
25845 2020-04-28    no  Germany   159912.0
26111 2020-04-29    no  Germany   161539.0
26377 2020-04-30    no  Germany   163009.0
26643 2020-05-01    no  Germany   164077.0
26909 2020-05-02    no  Germany   164967.0
27174 2020-05-03    no  Germany   165664.0
27441 2020-05-04    no  Germany   166152.0
27707 2020-05-05    no  Germany   167007.0
27973 2020-05-06    no  Germany   168162.0
28239 2020-05-07    no  Germany   169430.0
28505 2020-05-08    no  Germany   170588.0
28771 2020-05-09    no  Germany   171324.0
29037 2020-05-10    no  Germany   171879.0
29302 2020-05-11    no  Germany   172576.0
29569 2020-05-12    no  Germany   173171.0
29835 2020-05-13    no  Germany   174098.0
30100 2020-05-14    no  Germany   174478.0
30368 2020-05-15    no  Germany   175233.0
30633 2020-05-16    no  Germany   175752.0
30899 2020-05-17    no  Germany   176369.0
31164 2020-05-18    no  Germany   176551.0
31431 2020-05-19    no  Germany   177778.0
31697 2020-05-20    no  Germany   178473.0
31963 2020-05-21    no  Germany   179021.0
32229 2020-05-22    no  Germany   179710.0
32494 2020-05-23    no  Germany   179986.0
32761 2020-05-24    no  Germany   180328.0
33026 2020-05-25    no  Germany   180600.0
33293 2020-05-26    no  Germany   181200.0
33559 2020-05-27    no  Germany   181524.0
33825 2020-05-28    no  Germany   182196.0
34091 2020-05-29    no  Germany   182922.0
34357 2020-05-30    no  Germany   183189.0
34623 2020-05-31    no  Germany   183410.0
34888 2020-06-01    no  Germany   183594.0
35155 2020-06-02    no  Germany   183879.0
35421 2020-06-03    no  Germany   184121.0
35687 2020-06-04    no  Germany   184472.0
35953 2020-06-05    no  Germany   184924.0
36219 2020-06-06    no  Germany   185450.0
36485 2020-06-07    no  Germany   185750.0
36751 2020-06-08    no  Germany   186109.0
37016 2020-06-09    no  Germany   186506.0
37283 2020-06-10    no  Germany   186522.0
37549 2020-06-11    no  Germany   186691.0
37814 2020-06-12    no  Germany   187226.0
38082 2020-06-13    no  Germany   187267.0
38347 2020-06-14    no  Germany   187518.0
38613 2020-06-15    no  Germany   187682.0
38879 2020-06-16    no  Germany   188252.0
39144 2020-06-17    no  Germany   188604.0
39411 2020-06-18    no  Germany   189817.0
39676 2020-06-19    no  Germany   190299.0
39942 2020-06-20    no  Germany   190670.0
40209 2020-06-21    no  Germany   191272.0
40475 2020-06-22    no  Germany   191768.0
40740 2020-06-23    no  Germany   192480.0
41005 2020-06-24    no  Germany   192871.0
41273 2020-06-25    no  Germany   193371.0
41538 2020-06-26    no  Germany   194036.0
41805 2020-06-27    no  Germany   194458.0
42069 2020-06-28    no  Germany   194693.0
42336 2020-06-29    no  Germany   195042.0
42603 2020-06-30    no  Germany   195418.0
42867 2020-07-01    no  Germany   195893.0
43135 2020-07-02    no  Germany   196370.0
43401 2020-07-03    no  Germany   196780.0
43665 2020-07-04    no  Germany   197198.0
43932 2020-07-05    no  Germany   197523.0
44199 2020-07-06    no  Germany   198064.0
44464 2020-07-07    no  Germany   198343.0
44730 2020-07-08    no  Germany   198699.0
44997 2020-07-09    no  Germany   199001.0
45261 2020-07-10    no  Germany   199332.0
45528 2020-07-11    no  Germany   199709.0
45794 2020-07-12    no  Germany   199919.0
46059 2020-07-13    no  Germany   200180.0
46327 2020-07-14    no  Germany   200456.0
46592 2020-07-15    no  Germany   200890.0
46859 2020-07-16    no  Germany   201450.0
47123 2020-07-17    no  Germany   202045.0
47390 2020-07-18    no  Germany   202426.0
47656 2020-07-19    no  Germany   202735.0
47921 2020-07-20    no  Germany   203325.0
48189 2020-07-21    no  Germany   203717.0
48454 2020-07-22    no  Germany   204276.0
48720 2020-07-23    no  Germany   204881.0
48987 2020-07-24    no  Germany   205623.0
49253 2020-07-25    no  Germany   206278.0
49519 2020-07-26    no  Germany   206667.0
49785 2020-07-27    no  Germany   207112.0
50051 2020-07-28    no  Germany   207707.0
50317 2020-07-29    no  Germany   208546.0
50582 2020-07-30    no  Germany   209535.0
50849 2020-07-31    no  Germany   210399.0
51115 2020-08-01    no  Germany   211005.0
51381 2020-08-02    no  Germany   211220.0
51647 2020-08-03    no  Germany   212111.0
51913 2020-08-04    no  Germany   212828.0
52179 2020-08-05    no  Germany   214113.0
52445 2020-08-06    no  Germany   215039.0
52710 2020-08-07    no  Germany   216196.0
52977 2020-08-08    no  Germany   216903.0
53243 2020-08-09    no  Germany   217288.0
53508 2020-08-10    no  Germany   218508.0
53776 2020-08-11    no  Germany   219540.0
54041 2020-08-12    no  Germany   220859.0
54307 2020-08-13    no  Germany   222281.0
54572 2020-08-14    no  Germany   223791.0
54839 2020-08-15    no  Germany   224488.0
55105 2020-08-16    no  Germany   225007.0
55371 2020-08-17    no  Germany   226700.0
55637 2020-08-18    no  Germany   228120.0
55903 2020-08-19    no  Germany   229706.0
56169 2020-08-20    no  Germany   231292.0
56435 2020-08-21    no  Germany   233029.0
56700 2020-08-22    no  Germany   233861.0
56967 2020-08-23    no  Germany   234494.0
57233 2020-08-24    no  Germany   236122.0
57498 2020-08-25    no  Germany   237583.0
57764 2020-08-26    no  Germany   239010.0
58031 2020-08-27    no  Germany   240571.0
58296 2020-08-28    no  Germany   242126.0
58562 2020-08-29    no  Germany   242835.0
58829 2020-08-30    no  Germany   243305.0
59095 2020-08-31    no  Germany   244802.0
59361 2020-09-01    no  Germany   246015.0
59627 2020-09-02    no  Germany   247411.0
59893 2020-09-03    no  Germany   248840.0
60159 2020-09-04    no  Germany   250283.0
60424 2020-09-05    no  Germany   251058.0
60691 2020-09-06    no  Germany   251728.0
60955 2020-09-07    no  Germany   253626.0
61223 2020-09-08    no  Germany   254957.0
61487 2020-09-09    no  Germany   256433.0
61755 2020-09-10    no  Germany   258149.0
62020 2020-09-11    no  Germany   259735.0

In [27]:
test_data = pd_JH_data[((pd_JH_data['country'] == 'US') |
                       (pd_JH_data['country'] == 'Germany')) & 
                      (pd_JH_data['date'] >'2020-03-20')]
test_data.head()

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15776 2020-03-21    no       US    24508.0
16002 2020-03-22    no  Germany    24873.0
16041 2020-03-22    no       US    33152.0
16269 2020-03-23    no  Germany    29056.0

In [28]:
test_data.groupby(['country']).apply(np.max)

              date state  country  confirmed
country
Germany 2020-09-11    no  Germany   259735.0
US      2020-09-11    no       US  6443743.0

In [29]:
reg = linear_model.LinearRegression(fit_intercept=True)


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [30]:
def rolling_reg(df_input: pd.DataFrame, col='confirmed', days_back=3):
    result = df_input[col].rolling(
            window=days_back, 
            min_periods=days_back).apply(get_doubling_time_via_regression, raw=False)
    return result

In [31]:
pd_DR_result = pd_JH_data[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(rolling_reg, 'confirmed').reset_index()

In [32]:
pd_DR_result = pd_DR_result.rename(columns={
    'confirmed': 'doubling_rate',
    'level_2': 'index'
})

In [33]:
pd_JH_data = pd_JH_data.reset_index()

In [34]:
print(pd_JH_data.columns)

Index(['index', 'date', 'state', 'country', 'confirmed'], dtype='object')

In [35]:
pd_results_large = pd.merge(pd_JH_data, pd_DR_result[['index', 'doubling_rate']], on=['index'], how='left')

In [36]:
pd_results_large[pd_results_large['country'] == 'Germany']

       index       date state  country  confirmed  doubling_rate
43        43 2020-01-22    no  Germany        0.0            NaN
308      308 2020-01-23    no  Germany        0.0            NaN
575      575 2020-01-24    no  Germany        0.0            NaN
841      841 2020-01-25    no  Germany        0.0            NaN
1107    1107 2020-01-26    no  Germany        0.0            NaN
1373    1373 2020-01-27    no  Germany        1.0       0.666667
1638    1638 2020-01-28    no  Germany        4.0       0.833333
1905    1905 2020-01-29    no  Germany        4.0       2.000000
2170    2170 2020-01-30    no  Germany        4.0            inf
2437    2437 2020-01-31    no  Germany        5.0       8.666667
2703    2703 2020-02-01    no  Germany        8.0       2.833333
2969    2969 2020-02-02    no  Germany       10.0       3.066667
3235    3235 2020-02-03    no  Germany       12.0       5.000000
3501    3501 2020-02-04    no  Germany       12.0      11.333333
3767    3767 2020-02-05    no  Germany       12.0            inf
4032    4032 2020-02-06    no  Germany       12.0            inf
4299    4299 2020-02-07    no  Germany       13.0      24.666667
4565    4565 2020-02-08    no  Germany       13.0      25.333333
4831    4831 2020-02-09    no  Germany       14.0      26.666667
5097    5097 2020-02-10    no  Germany       14.0      27.333333
5363    5363 2020-02-11    no  Germany       16.0      14.666667
5629    5629 2020-02-12    no  Germany       16.0      15.333333
5895    5895 2020-02-13    no  Germany       16.0            inf
6160    6160 2020-02-14    no  Germany       16.0            inf
6427    6427 2020-02-15    no  Germany       16.0            inf
6693    6693 2020-02-16    no  Germany       16.0            inf
6958    6958 2020-02-17    no  Germany       16.0            inf
7224    7224 2020-02-18    no  Germany       16.0            inf
7491    7491 2020-02-19    no  Germany       16.0            inf
7756    7756 2020-02-20    no  Germany       16.0            inf
8021    8021 2020-02-21    no  Germany       16.0            inf
8289    8289 2020-02-22    no  Germany       16.0            inf
8555    8555 2020-02-23    no  Germany       16.0            inf
8819    8819 2020-02-24    no  Germany       16.0            inf
9086    9086 2020-02-25    no  Germany       17.0      32.666667
9353    9353 2020-02-26    no  Germany       27.0       3.636364
9618    9618 2020-02-27    no  Germany       46.0       2.068966
9884    9884 2020-02-28    no  Germany       48.0       3.841270
10151  10151 2020-02-29    no  Germany       79.0       3.494949
10415  10415 2020-03-01    no  Germany      130.0       2.089431
10682  10682 2020-03-02    no  Germany      159.0       3.066667
10948  10948 2020-03-03    no  Germany      196.0       4.898990
11213  11213 2020-03-04    no  Germany      262.0       3.993528
11481  11481 2020-03-05    no  Germany      482.0       2.191142
11746  11746 2020-03-06    no  Germany      670.0       2.310458
12013  12013 2020-03-07    no  Germany      799.0       4.103049
12278  12278 2020-03-08    no  Germany     1040.0       4.520721
12544  12544 2020-03-09    no  Germany     1176.0       5.331565
12810  12810 2020-03-10    no  Germany     1457.0       5.872102
13076  13076 2020-03-11    no  Germany     1908.0       4.135701
13343  13343 2020-03-12    no  Germany     2078.0       5.843264
13608  13608 2020-03-13    no  Germany     3675.0       2.890398
13874  13874 2020-03-14    no  Germany     4585.0       2.749103
14141  14141 2020-03-15    no  Germany     5795.0       4.419811
14407  14407 2020-03-16    no  Germany     7272.0       4.379606
14673  14673 2020-03-17    no  Germany     9257.0       4.298864
14939  14939 2020-03-18    no  Germany    12327.0       3.805605
15204  15204 2020-03-19    no  Germany    15320.0       4.057837
15471  15471 2020-03-20    no  Germany    19848.0       4.209990
15737  15737 2020-03-21    no  Germany    22213.0       5.549688
16002  16002 2020-03-22    no  Germany    24873.0       8.880133
16269  16269 2020-03-23    no  Germany    29056.0       7.417994
16535  16535 2020-03-24    no  Germany    32986.0       7.142035
16800  16800 2020-03-25    no  Germany    37323.0       8.012983
17067  17067 2020-03-26    no  Germany    43938.0       6.954407
17332  17332 2020-03-27    no  Germany    50871.0       6.501919
17599  17599 2020-03-28    no  Germany    57695.0       7.390371
17865  17865 2020-03-29    no  Germany    62095.0      10.136671
18129  18129 2020-03-30    no  Germany    66885.0      13.541893
18396  18396 2020-03-31    no  Germany    71808.0      13.781393
18662  18662 2020-04-01    no  Germany    77872.0      13.140681
18927  18927 2020-04-02    no  Germany    84794.0      12.037271
19195  19195 2020-04-03    no  Germany    91159.0      12.735506
19460  19460 2020-04-04    no  Germany    96092.0      16.052694
19727  19727 2020-04-05    no  Germany   100123.0      21.372453
19992  19992 2020-04-06    no  Germany   103374.0      27.427355
20259  20259 2020-04-07    no  Germany   107663.0      27.511936
20524  20524 2020-04-08    no  Germany   113296.0      21.792179
20790  20790 2020-04-09    no  Germany   118181.0      21.495848
21057  21057 2020-04-10    no  Germany   122171.0      26.565108
21324  21324 2020-04-11    no  Germany   124908.0      36.198404
21589  21589 2020-04-12    no  Germany   127854.0      43.982990
21854  21854 2020-04-13    no  Germany   130072.0      49.423444
22120  22120 2020-04-14    no  Germany   131359.0      74.043747
22386  22386 2020-04-15    no  Germany   134753.0      56.424411
22653  22653 2020-04-16    no  Germany   137698.0      42.468318
22917  22917 2020-04-17    no  Germany   141397.0      41.525988
23186  23186 2020-04-18    no  Germany   143342.0      49.898063
23451  23451 2020-04-19    no  Germany   145184.0      75.684007
23715  23715 2020-04-20    no  Germany   147065.0      78.000000
23982  23982 2020-04-21    no  Germany   148291.0      94.526338
24248  24248 2020-04-22    no  Germany   150648.0      82.985208
24513  24513 2020-04-23    no  Germany   153129.0      62.294061
24781  24781 2020-04-24    no  Germany   154999.0      70.294338
25046  25046 2020-04-25    no  Germany   156513.0      91.536840
25312  25312 2020-04-26    no  Germany   157770.0     112.903164
25579  25579 2020-04-27    no  Germany   158758.0     140.472457
25845  25845 2020-04-28    no  Germany   159912.0     148.285092
26111  26111 2020-04-29    no  Germany   161539.0     115.116625
26377  26377 2020-04-30    no  Germany   163009.0     104.285868
26643  26643 2020-05-01    no  Germany   164077.0     128.349094
26909  26909 2020-05-02    no  Germany   164967.0     167.535921
27174  27174 2020-05-03    no  Germany   165664.0     207.816845
27441  27441 2020-05-04    no  Germany   166152.0     279.484107
27707  27707 2020-05-05    no  Germany   167007.0     247.616282
27973  27973 2020-05-06    no  Germany   168162.0     166.275622
28239  28239 2020-05-07    no  Germany   169430.0     138.835878
28505  28505 2020-05-08    no  Germany   170588.0     139.648255
28771  28771 2020-05-09    no  Germany   171324.0     179.986624
29037  29037 2020-05-10    no  Germany   171879.0     265.319391
29302  29302 2020-05-11    no  Germany   172576.0     274.642705
29569  29569 2020-05-12    no  Germany   173171.0     267.092879
29835  29835 2020-05-13    no  Germany   174098.0     227.702584
30100  30100 2020-05-14    no  Germany   174478.0     266.129559
30368  30368 2020-05-15    no  Germany   175233.0     307.670485
30633  30633 2020-05-16    no  Germany   175752.0     274.967556
30899  30899 2020-05-17    no  Germany   176369.0     309.480047
31164  31164 2020-05-18    no  Germany   176551.0     441.111389
31431  31431 2020-05-19    no  Germany   177778.0     251.099125
31697  31697 2020-05-20    no  Germany   178473.0     184.808186
31963  31963 2020-05-21    no  Germany   179021.0     287.086082
32229  32229 2020-05-22    no  Germany   179710.0     289.519806
32494  32494 2020-05-23    no  Germany   179986.0     372.170639
32761  32761 2020-05-24    no  Germany   180328.0     582.550162
33026  33026 2020-05-25    no  Germany   180600.0     587.311618
33293  33293 2020-05-26    no  Germany   181200.0     414.470948
33559  33559 2020-05-27    no  Germany   181524.0     392.008658
33825  33825 2020-05-28    no  Germany   182196.0     364.738956
34091  34091 2020-05-29    no  Germany   182922.0     260.678112
34357  34357 2020-05-30    no  Germany   183189.0     368.114804
34623  34623 2020-05-31    no  Germany   183410.0     750.711749
34888  34888 2020-06-01    no  Germany   183594.0     905.667490
35155  35155 2020-06-02    no  Germany   183879.0     783.060412
35421  35421 2020-06-03    no  Germany   184121.0     697.778621
35687  35687 2020-06-04    no  Germany   184472.0     621.103991
35953  35953 2020-06-05    no  Germany   184924.0     459.540888
36219  36219 2020-06-06    no  Germany   185450.0     378.218132
36485  36485 2020-06-07    no  Germany   185750.0     448.849072
36751  36751 2020-06-08    no  Germany   186109.0     563.792615
37016  37016 2020-06-09    no  Germany   186506.0     492.385362
37283  37283 2020-06-10    no  Germany   186522.0     902.561743
37549  37549 2020-06-11    no  Germany   186691.0    2017.005405
37814  37814 2020-06-12    no  Germany   187226.0     530.718750
38082  38082 2020-06-13    no  Germany   187267.0     649.518519
38347  38347 2020-06-14    no  Germany   187518.0    1283.130137
38613  38613 2020-06-15    no  Germany   187682.0     903.561446
38879  38879 2020-06-16    no  Germany   188252.0     511.763851
39144  39144 2020-06-17    no  Germany   188604.0     408.198120
39411  39411 2020-06-18    no  Germany   189817.0     241.394249
39676  39676 2020-06-19    no  Germany   190299.0     223.685349
39942  39942 2020-06-20    no  Germany   190670.0     446.100821
40209  40209 2020-06-21    no  Germany   191272.0     392.080164
40475  40475 2020-06-22    no  Germany   191768.0     348.336369
40740  40740 2020-06-23    no  Germany   192480.0     317.615894
41005  41005 2020-06-24    no  Germany   192871.0     348.817770
41273  41273 2020-06-25    no  Germany   193371.0     433.013094
41538  41538 2020-06-26    no  Germany   194036.0     332.061803
41805  41805 2020-06-27    no  Germany   194458.0     356.862925
42069  42069 2020-06-28    no  Germany   194693.0     591.767631
42336  42336 2020-06-29    no  Germany   195042.0     666.886986
42603  42603 2020-06-30    no  Germany   195418.0     538.071724
42867  42867 2020-07-01    no  Germany   195893.0     459.344301
43135  43135 2020-07-02    no  Germany   196370.0     411.541317
43401  43401 2020-07-03    no  Germany   196780.0     442.723036
43665  43665 2020-07-04    no  Germany   197198.0     475.320451
43932  43932 2020-07-05    no  Germany   197523.0     530.732167
44199  44199 2020-07-06    no  Germany   198064.0     456.339492
44464  44464 2020-07-07    no  Germany   198343.0     482.869919
44730  44730 2020-07-08    no  Germany   198699.0     624.783202
44997  44997 2020-07-09    no  Germany   199001.0     603.893617
45261  45261 2020-07-10    no  Germany   199332.0     628.785677
45528  45528 2020-07-11    no  Germany   199709.0     563.128060
45794  45794 2020-07-12    no  Germany   199919.0     680.249858
46059  46059 2020-07-13    no  Germany   200180.0     848.985138
46327  46327 2020-07-14    no  Germany   200456.0     745.567970
46592  46592 2020-07-15    no  Germany   200890.0     564.813146
46859  46859 2020-07-16    no  Germany   201450.0     404.289738
47123  47123 2020-07-17    no  Germany   202045.0     348.851371
47390  47390 2020-07-18    no  Germany   202426.0     413.880464
47656  47656 2020-07-19    no  Germany   202735.0     586.672464
47921  47921 2020-07-20    no  Germany   203325.0     451.231739
48189  48189 2020-07-21    no  Germany   203717.0     413.969450
48454  48454 2020-07-22    no  Germany   204276.0     428.543989
48720  48720 2020-07-23    no  Germany   204881.0     351.016037
48987  48987 2020-07-24    no  Germany   205623.0     304.271220
49253  49253 2020-07-25    no  Germany   206278.0     294.336435
49519  49519 2020-07-26    no  Germany   206667.0     394.998723
49785  49785 2020-07-27    no  Germany   207112.0     495.649081
50051  50051 2020-07-28    no  Germany   207707.0     398.388462
50317  50317 2020-07-29    no  Germany   208546.0     289.802417
50582  50582 2020-07-30    no  Germany   209535.0     228.223195
50849  50849 2020-07-31    no  Germany   210399.0     226.112610
51115  51115 2020-08-01    no  Germany   211005.0     286.140136
51381  51381 2020-08-02    no  Germany   211220.0     513.701989
51647  51647 2020-08-03    no  Germany   212111.0     382.360458
51913  51913 2020-08-04    no  Germany   212828.0     263.747512
52179  52179 2020-08-05    no  Germany   214113.0     212.804529
52445  52445 2020-08-06    no  Germany   215039.0     193.571536
52710  52710 2020-08-07    no  Germany   216196.0     206.544407
52977  52977 2020-08-08    no  Germany   216903.0     231.809013
53243  53243 2020-08-09    no  Germany   217288.0     397.061661
53508  53508 2020-08-10    no  Germany   218508.0     271.110696
53776  53776 2020-08-11    no  Germany   219540.0     194.001184
54041  54041 2020-08-12    no  Germany   220859.0     186.844463
54307  54307 2020-08-13    no  Germany   222281.0     161.177186
54572  54572 2020-08-14    no  Germany   223791.0     151.644156
54839  54839 2020-08-15    no  Germany   224488.0     202.555505
55105  55105 2020-08-16    no  Germany   225007.0     369.126096
55371  55371 2020-08-17    no  Germany   226700.0     203.795961
55637  55637 2020-08-18    no  Germany   228120.0     145.588821
55903  55903 2020-08-19    no  Germany   229706.0     151.813262
56169  56169 2020-08-20    no  Germany   231292.0     144.833544
56435  56435 2020-08-21    no  Germany   233029.0     139.237035
56700  56700 2020-08-22    no  Germany   233861.0     181.181264
56967  56967 2020-08-23    no  Germany   234494.0     319.173606
57233  57233 2020-08-24    no  Germany   236122.0     207.718414
57498  57498 2020-08-25    no  Germany   237583.0     152.843207
57764  57764 2020-08-26    no  Germany   239010.0     164.523315
58031  58031 2020-08-27    no  Germany   240571.0     160.009817
58296  58296 2020-08-28    no  Germany   242126.0     154.408858
58562  58562 2020-08-29    no  Germany   242835.0     213.643110
58829  58829 2020-08-30    no  Germany   243305.0     411.798699
59095  59095 2020-08-31    no  Germany   244802.0     247.734960
59361  59361 2020-09-01    no  Germany   246015.0     180.595818
59627  59627 2020-09-02    no  Germany   247411.0     188.636259
59893  59893 2020-09-03    no  Germany   248840.0     175.166018
60159  60159 2020-09-04    no  Germany   250283.0     173.290158
60424  60424 2020-09-05    no  Germany   251058.0     225.482717
60691  60691 2020-09-06    no  Germany   251728.0     347.436678
60955  60955 2020-09-07    no  Germany   253626.0     196.368640
61223  61223 2020-09-08    no  Germany   254957.0     156.975534
61487  61487 2020-09-09    no  Germany   256433.0     181.692436
61755  61755 2020-09-10    no  Germany   258149.0     160.722431
62020  62020 2020-09-11    no  Germany   259735.0     156.332930

In [37]:
pd_JH_data[pd_JH_data['country'] == 'Germany']

       index       date state  country  confirmed
43        43 2020-01-22    no  Germany        0.0
308      308 2020-01-23    no  Germany        0.0
575      575 2020-01-24    no  Germany        0.0
841      841 2020-01-25    no  Germany        0.0
1107    1107 2020-01-26    no  Germany        0.0
1373    1373 2020-01-27    no  Germany        1.0
1638    1638 2020-01-28    no  Germany        4.0
1905    1905 2020-01-29    no  Germany        4.0
2170    2170 2020-01-30    no  Germany        4.0
2437    2437 2020-01-31    no  Germany        5.0
2703    2703 2020-02-01    no  Germany        8.0
2969    2969 2020-02-02    no  Germany       10.0
3235    3235 2020-02-03    no  Germany       12.0
3501    3501 2020-02-04    no  Germany       12.0
3767    3767 2020-02-05    no  Germany       12.0
4032    4032 2020-02-06    no  Germany       12.0
4299    4299 2020-02-07    no  Germany       13.0
4565    4565 2020-02-08    no  Germany       13.0
4831    4831 2020-02-09    no  Germany       14.0
5097    5097 2020-02-10    no  Germany       14.0
5363    5363 2020-02-11    no  Germany       16.0
5629    5629 2020-02-12    no  Germany       16.0
5895    5895 2020-02-13    no  Germany       16.0
6160    6160 2020-02-14    no  Germany       16.0
6427    6427 2020-02-15    no  Germany       16.0
6693    6693 2020-02-16    no  Germany       16.0
6958    6958 2020-02-17    no  Germany       16.0
7224    7224 2020-02-18    no  Germany       16.0
7491    7491 2020-02-19    no  Germany       16.0
7756    7756 2020-02-20    no  Germany       16.0
8021    8021 2020-02-21    no  Germany       16.0
8289    8289 2020-02-22    no  Germany       16.0
8555    8555 2020-02-23    no  Germany       16.0
8819    8819 2020-02-24    no  Germany       16.0
9086    9086 2020-02-25    no  Germany       17.0
9353    9353 2020-02-26    no  Germany       27.0
9618    9618 2020-02-27    no  Germany       46.0
9884    9884 2020-02-28    no  Germany       48.0
10151  10151 2020-02-29    no  Germany       79.0
10415  10415 2020-03-01    no  Germany      130.0
10682  10682 2020-03-02    no  Germany      159.0
10948  10948 2020-03-03    no  Germany      196.0
11213  11213 2020-03-04    no  Germany      262.0
11481  11481 2020-03-05    no  Germany      482.0
11746  11746 2020-03-06    no  Germany      670.0
12013  12013 2020-03-07    no  Germany      799.0
12278  12278 2020-03-08    no  Germany     1040.0
12544  12544 2020-03-09    no  Germany     1176.0
12810  12810 2020-03-10    no  Germany     1457.0
13076  13076 2020-03-11    no  Germany     1908.0
13343  13343 2020-03-12    no  Germany     2078.0
13608  13608 2020-03-13    no  Germany     3675.0
13874  13874 2020-03-14    no  Germany     4585.0
14141  14141 2020-03-15    no  Germany     5795.0
14407  14407 2020-03-16    no  Germany     7272.0
14673  14673 2020-03-17    no  Germany     9257.0
14939  14939 2020-03-18    no  Germany    12327.0
15204  15204 2020-03-19    no  Germany    15320.0
15471  15471 2020-03-20    no  Germany    19848.0
15737  15737 2020-03-21    no  Germany    22213.0
16002  16002 2020-03-22    no  Germany    24873.0
16269  16269 2020-03-23    no  Germany    29056.0
16535  16535 2020-03-24    no  Germany    32986.0
16800  16800 2020-03-25    no  Germany    37323.0
17067  17067 2020-03-26    no  Germany    43938.0
17332  17332 2020-03-27    no  Germany    50871.0
17599  17599 2020-03-28    no  Germany    57695.0
17865  17865 2020-03-29    no  Germany    62095.0
18129  18129 2020-03-30    no  Germany    66885.0
18396  18396 2020-03-31    no  Germany    71808.0
18662  18662 2020-04-01    no  Germany    77872.0
18927  18927 2020-04-02    no  Germany    84794.0
19195  19195 2020-04-03    no  Germany    91159.0
19460  19460 2020-04-04    no  Germany    96092.0
19727  19727 2020-04-05    no  Germany   100123.0
19992  19992 2020-04-06    no  Germany   103374.0
20259  20259 2020-04-07    no  Germany   107663.0
20524  20524 2020-04-08    no  Germany   113296.0
20790  20790 2020-04-09    no  Germany   118181.0
21057  21057 2020-04-10    no  Germany   122171.0
21324  21324 2020-04-11    no  Germany   124908.0
21589  21589 2020-04-12    no  Germany   127854.0
21854  21854 2020-04-13    no  Germany   130072.0
22120  22120 2020-04-14    no  Germany   131359.0
22386  22386 2020-04-15    no  Germany   134753.0
22653  22653 2020-04-16    no  Germany   137698.0
22917  22917 2020-04-17    no  Germany   141397.0
23186  23186 2020-04-18    no  Germany   143342.0
23451  23451 2020-04-19    no  Germany   145184.0
23715  23715 2020-04-20    no  Germany   147065.0
23982  23982 2020-04-21    no  Germany   148291.0
24248  24248 2020-04-22    no  Germany   150648.0
24513  24513 2020-04-23    no  Germany   153129.0
24781  24781 2020-04-24    no  Germany   154999.0
25046  25046 2020-04-25    no  Germany   156513.0
25312  25312 2020-04-26    no  Germany   157770.0
25579  25579 2020-04-27    no  Germany   158758.0
25845  25845 2020-04-28    no  Germany   159912.0
26111  26111 2020-04-29    no  Germany   161539.0
26377  26377 2020-04-30    no  Germany   163009.0
26643  26643 2020-05-01    no  Germany   164077.0
26909  26909 2020-05-02    no  Germany   164967.0
27174  27174 2020-05-03    no  Germany   165664.0
27441  27441 2020-05-04    no  Germany   166152.0
27707  27707 2020-05-05    no  Germany   167007.0
27973  27973 2020-05-06    no  Germany   168162.0
28239  28239 2020-05-07    no  Germany   169430.0
28505  28505 2020-05-08    no  Germany   170588.0
28771  28771 2020-05-09    no  Germany   171324.0
29037  29037 2020-05-10    no  Germany   171879.0
29302  29302 2020-05-11    no  Germany   172576.0
29569  29569 2020-05-12    no  Germany   173171.0
29835  29835 2020-05-13    no  Germany   174098.0
30100  30100 2020-05-14    no  Germany   174478.0
30368  30368 2020-05-15    no  Germany   175233.0
30633  30633 2020-05-16    no  Germany   175752.0
30899  30899 2020-05-17    no  Germany   176369.0
31164  31164 2020-05-18    no  Germany   176551.0
31431  31431 2020-05-19    no  Germany   177778.0
31697  31697 2020-05-20    no  Germany   178473.0
31963  31963 2020-05-21    no  Germany   179021.0
32229  32229 2020-05-22    no  Germany   179710.0
32494  32494 2020-05-23    no  Germany   179986.0
32761  32761 2020-05-24    no  Germany   180328.0
33026  33026 2020-05-25    no  Germany   180600.0
33293  33293 2020-05-26    no  Germany   181200.0
33559  33559 2020-05-27    no  Germany   181524.0
33825  33825 2020-05-28    no  Germany   182196.0
34091  34091 2020-05-29    no  Germany   182922.0
34357  34357 2020-05-30    no  Germany   183189.0
34623  34623 2020-05-31    no  Germany   183410.0
34888  34888 2020-06-01    no  Germany   183594.0
35155  35155 2020-06-02    no  Germany   183879.0
35421  35421 2020-06-03    no  Germany   184121.0
35687  35687 2020-06-04    no  Germany   184472.0
35953  35953 2020-06-05    no  Germany   184924.0
36219  36219 2020-06-06    no  Germany   185450.0
36485  36485 2020-06-07    no  Germany   185750.0
36751  36751 2020-06-08    no  Germany   186109.0
37016  37016 2020-06-09    no  Germany   186506.0
37283  37283 2020-06-10    no  Germany   186522.0
37549  37549 2020-06-11    no  Germany   186691.0
37814  37814 2020-06-12    no  Germany   187226.0
38082  38082 2020-06-13    no  Germany   187267.0
38347  38347 2020-06-14    no  Germany   187518.0
38613  38613 2020-06-15    no  Germany   187682.0
38879  38879 2020-06-16    no  Germany   188252.0
39144  39144 2020-06-17    no  Germany   188604.0
39411  39411 2020-06-18    no  Germany   189817.0
39676  39676 2020-06-19    no  Germany   190299.0
39942  39942 2020-06-20    no  Germany   190670.0
40209  40209 2020-06-21    no  Germany   191272.0
40475  40475 2020-06-22    no  Germany   191768.0
40740  40740 2020-06-23    no  Germany   192480.0
41005  41005 2020-06-24    no  Germany   192871.0
41273  41273 2020-06-25    no  Germany   193371.0
41538  41538 2020-06-26    no  Germany   194036.0
41805  41805 2020-06-27    no  Germany   194458.0
42069  42069 2020-06-28    no  Germany   194693.0
42336  42336 2020-06-29    no  Germany   195042.0
42603  42603 2020-06-30    no  Germany   195418.0
42867  42867 2020-07-01    no  Germany   195893.0
43135  43135 2020-07-02    no  Germany   196370.0
43401  43401 2020-07-03    no  Germany   196780.0
43665  43665 2020-07-04    no  Germany   197198.0
43932  43932 2020-07-05    no  Germany   197523.0
44199  44199 2020-07-06    no  Germany   198064.0
44464  44464 2020-07-07    no  Germany   198343.0
44730  44730 2020-07-08    no  Germany   198699.0
44997  44997 2020-07-09    no  Germany   199001.0
45261  45261 2020-07-10    no  Germany   199332.0
45528  45528 2020-07-11    no  Germany   199709.0
45794  45794 2020-07-12    no  Germany   199919.0
46059  46059 2020-07-13    no  Germany   200180.0
46327  46327 2020-07-14    no  Germany   200456.0
46592  46592 2020-07-15    no  Germany   200890.0
46859  46859 2020-07-16    no  Germany   201450.0
47123  47123 2020-07-17    no  Germany   202045.0
47390  47390 2020-07-18    no  Germany   202426.0
47656  47656 2020-07-19    no  Germany   202735.0
47921  47921 2020-07-20    no  Germany   203325.0
48189  48189 2020-07-21    no  Germany   203717.0
48454  48454 2020-07-22    no  Germany   204276.0
48720  48720 2020-07-23    no  Germany   204881.0
48987  48987 2020-07-24    no  Germany   205623.0
49253  49253 2020-07-25    no  Germany   206278.0
49519  49519 2020-07-26    no  Germany   206667.0
49785  49785 2020-07-27    no  Germany   207112.0
50051  50051 2020-07-28    no  Germany   207707.0
50317  50317 2020-07-29    no  Germany   208546.0
50582  50582 2020-07-30    no  Germany   209535.0
50849  50849 2020-07-31    no  Germany   210399.0
51115  51115 2020-08-01    no  Germany   211005.0
51381  51381 2020-08-02    no  Germany   211220.0
51647  51647 2020-08-03    no  Germany   212111.0
51913  51913 2020-08-04    no  Germany   212828.0
52179  52179 2020-08-05    no  Germany   214113.0
52445  52445 2020-08-06    no  Germany   215039.0
52710  52710 2020-08-07    no  Germany   216196.0
52977  52977 2020-08-08    no  Germany   216903.0
53243  53243 2020-08-09    no  Germany   217288.0
53508  53508 2020-08-10    no  Germany   218508.0
53776  53776 2020-08-11    no  Germany   219540.0
54041  54041 2020-08-12    no  Germany   220859.0
54307  54307 2020-08-13    no  Germany   222281.0
54572  54572 2020-08-14    no  Germany   223791.0
54839  54839 2020-08-15    no  Germany   224488.0
55105  55105 2020-08-16    no  Germany   225007.0
55371  55371 2020-08-17    no  Germany   226700.0
55637  55637 2020-08-18    no  Germany   228120.0
55903  55903 2020-08-19    no  Germany   229706.0
56169  56169 2020-08-20    no  Germany   231292.0
56435  56435 2020-08-21    no  Germany   233029.0
56700  56700 2020-08-22    no  Germany   233861.0
56967  56967 2020-08-23    no  Germany   234494.0
57233  57233 2020-08-24    no  Germany   236122.0
57498  57498 2020-08-25    no  Germany   237583.0
57764  57764 2020-08-26    no  Germany   239010.0
58031  58031 2020-08-27    no  Germany   240571.0
58296  58296 2020-08-28    no  Germany   242126.0
58562  58562 2020-08-29    no  Germany   242835.0
58829  58829 2020-08-30    no  Germany   243305.0
59095  59095 2020-08-31    no  Germany   244802.0
59361  59361 2020-09-01    no  Germany   246015.0
59627  59627 2020-09-02    no  Germany   247411.0
59893  59893 2020-09-03    no  Germany   248840.0
60159  60159 2020-09-04    no  Germany   250283.0
60424  60424 2020-09-05    no  Germany   251058.0
60691  60691 2020-09-06    no  Germany   251728.0
60955  60955 2020-09-07    no  Germany   253626.0
61223  61223 2020-09-08    no  Germany   254957.0
61487  61487 2020-09-09    no  Germany   256433.0
61755  61755 2020-09-10    no  Germany   258149.0
62020  62020 2020-09-11    no  Germany   259735.0

## Filtering the data with groupby apply

In [38]:
5%0

ZeroDivisionError: integer division or modulo by zero